@model Movie

@{
    ViewData["Title"] = "Delete Movie";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Delete Confirmation for @Model.Name</h1>

        <div class="form-group text-center mb-4">
            <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
        </div>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <input asp-for="Description" class="form-control" readonly />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirm" class="btn btn-danger" />
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
            </form>
        </div>
    </div>
</div>
